* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman';
}

body {
    height: 100%;
    width: 100%;
    background-color: rgba(130, 130, 130, 0.100);
}

a {
    color: white;
    text-decoration: none;
}

#brogrammerz {
    color: blue;
}

.navbar {
    height: auto;
    width: 100%;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.800);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    position: sticky;
    top: 0;
}

.navbar span {
    font-size: 2rem;
    cursor: pointer;
}

.navbar span:hover {
    text-decoration: underline;
}

.introduction {
    height: auto;
    width: 100%;
    padding: 3rem;
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 3rem;
}

.img-box {
    height: 20rem;
    width: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-box img {
    height: auto;
    width: 100%;
}

.bio {
    border: 1px solid gray;
    height: 100%;
    width: 50%;
    padding: 1rem;
    font-size: 1.3rem;
}

.bio p {
    margin-bottom: 1rem;
}

.connect-boxes {
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1rem;
}

.connect {
    height: 2rem;
    width: 2rem;
}

.connect img {
    height: auto;
    width: 100%;
}

.projects {
    height: auto;
    width: 100%;
    padding: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}

.projects h1 {
    text-align: center;
    text-decoration: underline;
}

.projects .project-category {
    border: 1px solid black;
    height: auto;
    width: 90%;
    margin: auto;
    padding: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}

.projects-box {
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.project {
    height: 30rem;
    width: 30rem;
    background-color: white;
}

.project h3 {
    height: 10%;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-img {
    border-top: 2px dotted black;
    border-bottom: 2px dotted black;
    height: 60%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;
}

.project-img img {
    height: 70%;
    width: auto;
}

.project-img p {
    font-size: 1rem;
}

.project-info {
    height: 30%;
    width: 100%;
    padding: 0.5rem;
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    flex-direction: column;
}

.project-buttons {
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.project-buttons button {
    height: auto;
    width: auto;
    background-color: rgba(0, 0, 0, 0.800);
    color: white;
    padding: 0.3rem;
    font-size: 0.8rem;
    cursor: pointer;
}

.show-all {
    height: auto;
    width: 100%;
    text-align: center;
}

.show-all button {
    height: auto;
    width: auto;
    background-color: rgba(0, 0, 0, 0.800);
    color: white;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
}

.publications {
    height: auto;
    width: 100%;
    padding: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}

.publications h1 {
    text-align: center;
    text-decoration: underline;
}

.publications-box {
    border: 1px solid black;
    height: auto;
    width: 90%;
    margin: auto;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.publication {
    height: 10rem;
    width: 30rem;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.publication h3 {
    height: 50%;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.publication hr {
    height: auto;
    width: 100%;
}

.publication-platform {
    height: auto;
    width: 100%;
    padding: 0.5rem;
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: column;
}

.publication-buttons {
    height: auto;
    width: 100%;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.publication-buttons button {
    height: auto;
    width: auto;
    background-color: rgba(0, 0, 0, 0.800);
    color: white;
    padding: 0.3rem;
    font-size: 0.8rem;
    cursor: pointer;
}

.footer {
    height: auto;
    width: 100%;
    padding: 3rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.800);
    color: white;
}

.footer span {
    font-size: 1rem;
}